<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>BigLinux</vendor>
  <vendor_url>https://www.biglinux.com.br</vendor_url>

  <action id="br.com.biglinux.bigcam.manage-v4l2loopback">
    <description>Load or unload the v4l2loopback kernel module for BigCam</description>
    <message>Authentication is required to enable the virtual camera</message>
    <icon_name>camera-video-symbolic</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/biglinux/bigcam/script/load-v4l2loopback.sh</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
